# Folders
/data/
/saved_objects/
/runs/
__pycache__/
.mypy_cache/
/results/
*build/
*dist/
*venv/
*env/
*site/
*.egg-info/
.pytest_cache/
*.ruff_cache/
.cache
.complexipy_cache/
.kiro

# Files
*.pyc
*.pyo
*.pyd
*.egg-info
.python-version

# Exceptions
!/.devcontainer/*
!/.github/**